[LOGIN]
user = user
pwd = pwd
download_path = downloads/

[MOODLE_URLS]
base_url = https://moodle.rbz-technik.de/
login_url = login/index.php
courses_url = course/index.php?categoryid=405

[MOODLE_COURSES]
region_tag = div
region_type = class
region_type_value = courses category-browse category-browse-405
course_tag = a
course_type = class
course_type_value = aalink
link_type = href

[MOODLE_COURSE_NAV]
region_tag = ul
region_type = class
region_type_value = nav nav-tabs mb-3
course_nav_tag = a
course_nav_type = class
course_nav_type_value = nav-link

[MOODLE_MAIN_COUNTENT]
region_tag = ul
region_type = class
region_type_value = topics
content_tag = a
content_type = class
content_type_value = aalink

[MOODLE_SUB_CONTENT]
region_tag = ul
region_type = class
region_type_value = sections
content_tag = a
content_type = class
content_type_value = aalink

[MOODLE_FOLDER]
region_tag = div
region_type = class
region_type_value = filemanager
content_tag = a
content_type = 
content_type_value = 
name_tag = span
name_type = class
name_type_value = fp-filename

[MOODLE_ASSIGNMENT]
region_tag = div
region_type = class
region_type_value = box py-3 generalbox boxaligncenter
content_tag = a
content_type = 
content_type_value = 
name_tag = 
name_type = 
name_type_value = 

